.nav {
  background-color: var(--color-background-secondary);
  padding-block: var(--padding-sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
.logo {
  display: flex;
  justify-content: center;
  font-size: clamp(1.6rem, 2vw + 1rem, 3rem);
}
.logo span {
  color: var(--color-primary);
}
.navList {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
.linkBox {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  padding: min(2vw, 1.3rem) var(--padding-xs);
  cursor: pointer;
  border-radius: 9px;
  transition: 0.3s all ease-in-out;
}
.linkBox:hover {
  background-color: var(--color-primary);
}
.linkBox:hover p,
.linkBox:hover .icon,
.active p,
.active .icon {
  color: var(--color-white);
}
.icon {
  color: var(--color-text-light);
}
.active {
  background-color: var(--color-primary);
  box-shadow: var(--shadow-card);
}
.navLink {
  letter-spacing: 1px;
}
.menu {
  display: none;
}

.menu .logo {
  display: none;
}
.responsiveNav {
  display: none;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  .sticky {
    position: fixed !important;
    animation-duration: 0.3s;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
  }
  .nav {
    display: none;
  }
  .responsiveNav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 111;
    background-color: var(--color-background-secondary);
    width: 25vw;
    transform: translateX(-100%);
    transition: 0.3s all ease-in-out;
  }
  .nav .logo {
    display: none;
  }
  .menu {
    padding: var(--padding-xs) var(--padding-sm);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--color-background-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1111;
  }
  .menu .logo {
    display: block;
  }
  .menu .iconBtn {
    cursor: pointer;
    z-index: 1111;
  }
  .isOpen {
    transform: translateX(0);
  }
  .navList {
    padding-top: 7rem;
  }
}
@media (max-width: 768px) {
  .responsiveNav {
    width: 40vw;
  }
}
@media (max-width: 600px) {
  .responsiveNav {
    width: 45vw;
  }
  .navList {
    gap: var(--spacing-smd);
  }
}
@media (max-width: 480px) {
  .responsiveNav {
    width: 60vw;
  }
  .linkBox {
    gap: var(--spacing-smd);
  }
}
@media (max-width: 280px) {
  .responsiveNav {
    width: 100vw;
  }
  .navList {
    gap: var(--spacing-lg);
  }
}
