.card {
  position: relative;
  background-color: var(--color-background-secondary);
  padding: var(--padding-xs) var(--padding-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  box-shadow: var(--shadow-card);
}
.status {
  position: absolute;
  top: 1.5rem;
  right: 0;
  color: var(--color-white);
  padding: 0.3rem 1rem;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info p:nth-child(1) {
  color: var(--color-text);
}
.info p:nth-child(2) {
  color: var(--color-text);
  font-weight: bold;
}
.info p:nth-child(2) span {
  color: var(--color-primary);
}
.detailBox {
  display: flex;
  align-items: center;
  gap: var(--spacing-xxs);
}
.elipse {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--color-text-light);
  border-radius: 50%;
}

:global(.pending) {
  background-color: var(--color-warning);
}
:global(.ready) {
  background-color: var(--color-success);
}
:global(.delivered) {
  background-color: var(--color-info);
}
:global(.error) {
  background-color: var(--color-error);
}
