.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-xs);
}
.topBar .barLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.barLeft h4 {
  margin: 0;
}
.statusBar {
  display: flex;
  gap: var(--spacing-xs);
}
.statusBar p {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.statusBar .active,
.statusBar p:hover {
  font-size: bold;
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}
.tableHead {
  box-shadow: var(--shadow-xs);
  padding-inline: 0.5rem;
  border-radius: 9px;
}
.table th,
.table td {
  text-align: start;
  padding-block: var(--padding-xs);
}
.table tr {
  display: grid;
  grid-template-columns: 3% 25% auto 20% 10% 10%;
  gap: 1rem;
  border-bottom: 1px solid var(--color-border);
}
.tableHead th {
  font-size: clamp(1.4rem, 1.4vw + 1rem, 1.5rem);
}
.table tr td {
  white-space: nowrap;
  overflow-x: scroll;
}
.status {
  text-align: center;
  border-radius: 9px;
  padding: 0.2rem;
}

@media (max-width: 1024px) {
  .topBar {
    margin-top: var(--spacing-xl);
  }
}
@media (max-width: 768px) {
  .tableHead th:nth-child(4),
  .tableHead th:nth-child(5),
  .table tr td:nth-child(4),
  .table tr td:nth-child(5) {
    display: none;
  }
  .table tr {
    grid-template-columns: 3% 25% auto 15%;
  }
  .statusBar {
    display: flex;
    gap: var(--spacing-sm);
  }
}
@media (max-width: 600px) {
  .topBar {
    margin-top: var(--spacing-xxl);
  }
  .tableHead th:nth-child(2),
  .table tr td:nth-child(2) {
    display: none;
  }
  .table tr {
    grid-template-columns: 3% auto 20%;
  }
}
@media (max-width: 480px) {
  .statusBar {
    display: flex;
    justify-content: space-between;
  }
  .table .tableHead {
    display: none;
  }
  .table tr td:nth-child(5) {
    display: block;
  }
  .table tr {
    grid-template-columns: 15% auto;
    gap: 1rem;
    padding-block: 2rem;
  }
  .table tr td {
    padding-block: 0.5rem;
  }
}
